<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:if="${error}" class="alert alert-danger mt-3">
    <p th:text="${error}"></p>
</div>
<div class="container">

    <h2 class="mt-5">Register</h2>

    <form method="POST" th:action="@{/register}">
        <div class="mb-3">
            <label for="empNo" class="form-label">Employee Number</label>
            <input type="number" class="form-control" id="empNo" name="empNo" required>
        </div>
        <div class="mb-3">
            <label for="empName" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="empName" name="empName" required>
        </div>
        <div class="mb-3">
            <label for="designation" class="form-label">Designation</label>
            <select class="form-control" id="designation" name="designation" required>
                <option value="">Select Designation</option>
                <option value="Manager">Manager</option>
                <option value="Developer">Developer</option>
                <option value="HR">HR</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Id</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
